* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.wrapper {
  margin: auto;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  width: 1100px;
  margin: auto;
}

.logo {
  width: 80px;
}

.logo_name {
  text-decoration: none;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
  color: rgb(0, 0, 0);
  font-family: "Roboto";
  font-weight: 300;
  text-transform: uppercase;
}

.logo_name:first-letter {
  color: rgb(26, 188, 156);
}

.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 470px;
}

a.nav_link {
  width: 473px;
  height: 23px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 11px;
  color: rgb(7, 7, 7);
  font-family: "Open Sans";
  font-weight: bold;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}

a.nav_link:hover {
  color: rgb(26, 188, 156);
}

.slide_img {
  background-image: url(../img/1.png);
  background-color: rgb(0, 0, 0);
  /* width: 1600px;
  height: 600px; */
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.slide_box {
  width: 1100px;
  margin: auto;
  position: relative;
}

.slide_text {
  width: 800px;
  height: 600px;
  margin: auto;
  padding-top: 195px;
}

.slide_title {
  font-size: 59px;
  letter-spacing: -1px;
  line-height: 82px;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-weight: 800;
  text-transform: uppercase;
}
.slide_title:hover {
color: #ff7200;
}

.slide-sub-title {
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  text-align: left;
  padding-left: 50px;
  text-transform: uppercase;
}

.button {
  width: 104px;
  height: 104px;
  background-color: #1abc9c;
  text-align: center;
  line-height: 96px;
  position: absolute;
  border: none;
  font-size: 70px;
  color: #fff;
  text-decoration: none;
}

.left-button {
  top: 200px;
}

.right-button {
  right: 0px;
  top: 200px;
}

.wrapper-collection {
  background-color: #e9f0fd;
}

.collection-section {
  width: 1110px;
  margin: auto;
  padding: 100px 0 100px;
}

.title {
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 32px;
  color: rgb(81, 81, 81);
  font-family: "Roboto";
  font-weight: 800;
  text-align: center;
}

.title:after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 90px;
}

.item {
  position: relative;
  width: 255px;
  height: 322px;
}

.item-text {
  display: flex;
  width: 255px;
  height: 41px;
}

.item-name {
  font-size: 18px;
  color: rgba(255, 255, 255, 255);
  text-align: left;
  line-height: 41px;
  width: 189px;
  background-color: #323232;
  text-transform: uppercase;
  padding-left: 14px;
}

.item-price {
  font-size: 18px;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  line-height: 41px;
  width: 62px;
  background-color: #8c8c8c;
}

.item-box {
  position: absolute;
  width: 255px;
  height: 280px;
  top: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.6);
  border: 10px solid rgba(255, 255, 255, 1);
  display: none;
} 

.items {
  display: flex;
  justify-content: space-between;
}

.item:hover .item-box {
  opacity: 0,5;
}

.icons {
  width: 180px;
  height: 107px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 7px;
  border: 2px solid #fff;
  position: relative;
  background-color: rgb(255, 255, 255, 0.5);
}

.icon:nth-child(3) {
  margin-right: 0;
}

.busket>.icon {
  border: none;
  height: 48px;
}

.busket {
  width: 166px;
  height: 50px;
  margin-top: 7px;
  border: 2px solid #fff;
  background-color: #323232;
}

.symbol {
  width: 25px;
  height: 25px;
  line-height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-text {
  height: 50px;
  line-height: 50px;
  vertical-align: top;
  display: inline-block;
  font-size: 14px;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  text-transform: uppercase;
}

.item:hover .item-box {
  display: block;
}

.item:hover .item-name {
  background-color: #1abc9c;
}

.item:hover .item-price {
  background-color: #7fd9c7;
}

.icons>.icon:hover {
  background-color: #1abc9c;
  border: 2px solid #1abc9c;
}

.busket:hover {
  background-color: #1abc9c;
}

.footer {
  background-color: #323232;
}

.wrapper-footer {
  width: 1110px;
  margin: auto;
  font-size: 16px;
}

.rights {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  padding: 38px 0 33px;
}

.green-name {
  font-size: 16px;
  font-weight: 400;
  color: #1abc9c;
  outline: none;
  text-decoration: none;
}
